.from-title-container1{
    position: absolute;
    border : 1px solid white;
    border-top: 20px solid rgb(87, 48, 119);
    box-shadow: 1px 2px #888888;
    border-radius: 10px;
    padding-top: 10px;
    margin-left: 10px;
    border-left-style: dashed;
    width: 80%;
    align-items: center;
    border-left: 5px solid rgb(17, 129, 235);
}
.from-title-container2{
    position: absolute;
    margin-top: 150px;
    border : 1px solid white;
    border-top: 20px solid rgb(87, 48, 119);
    box-shadow: 1px 2px #888888;
    border-radius: 10px;
    padding-top: 10px;
    margin-left: 10px;
    border-left-style: dashed;
    width: 80%;
    align-items: center;
    border-left: 5px solid rgb(17, 129, 235);
}
.from-title-container3{
    position: absolute;
    margin-top: 150px;
    border : 1px solid white;
    box-shadow: 1px 2px 1px 2px #888888;
    border-radius: 10px;
    padding-top: 10px;
    margin-left: 10px;
    border-left-style: dashed;
    width: 80%;
    align-items: center;
}
.input-title{
    width: 90%;
    height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:2px solid rgb(87, 48, 119);
    outline: none;
}
.input-title2{
    width: 90%;
    height: 50px;
    border: none;
    outline: none;
}
.input-title3{
    width: 90%;
    height: 50px;
    border: none;
    outline: none;
}
::placeholder{
    color: grey;
    font-size: x-large;
}
input[type=text]{
    color: grey;
    font-size: x-large;
}
.Select{
    width:150px;
    position: absolute;
    bottom: 55px;
    left: 500px;
    border: 1px solid white;
}
.Select1{
    width:150px;
    position: relative;
    top: 70px;
    left: 500px;
    border: 1px solid white;
}